# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.npm

# testing
/coverage
/test-results
/reports

# misc
.DS_Store
*.pem
Thumbs.db

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*
!.env.mjs
!.env.*example


# husky
.husky/_

# cache files
.stylelintcache
.eslintcache
.prettier-cache
.cache
tsconfig.tsbuildinfo

# IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
*.sublime-*
*.swp
*.swo

# Logs
logs
*.log
npm-debug.log*

# build
lib/*
dist/*
