# Environment
NODE_ENV=production
NEXT_PUBLIC_NODE_ENV=production

# Server variables
NGROK_AUTH_TOKEN=your_auth_token_here
ANALYZE=false
FORCE_COLOR=1
STRICT_RULES=false
DEBUG="false"

# Production-specific variables
PRODUCTION_ENV_VARIABLE="server_only_production_variable"
NEXT_PUBLIC_PRODUCTION_ENV_VARIABLE="public_production_variable"
