NGROK_AUTH_TOKEN=your_auth_token_here
ANALYZE=false
FORCE_COLOR=1
NODE_ENV=development
STRICT_RULES=false
NEXT_PUBLIC_NODE_ENV=development

# Podstawowa konfiguracja
OTEL_SERVICE_NAME=next-app

# Eksporter (np. dla Datadog)
OTEL_EXPORTER_OTLP_ENDPOINT=https://trace.agent.datadoghq.com:4318
OTEL_EXPORTER_OTLP_HEADERS=x-datadog-api-key=your-api-key

# Sampling rate (opcjonalne)
OTEL_SAMPLING_PROBABILITY=0.5

SDEBUG="false"
