# Environment
NODE_ENV=development
NEXT_PUBLIC_NODE_ENV=development

# Server variables
NGROK_AUTH_TOKEN=your_auth_token_here
ANALYZE=false
FORCE_COLOR=1
STRICT_RULES=false
DEBUG="*"

# Development-specific variables
DEVELOPMENT_ENV_VARIABLE="server_only_development_variable"
NEXT_PUBLIC_DEVELOPMENT_ENV_VARIABLE="public_development_variable"
